*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   display: flex;
   flex-direction: column;
    /* background-image: radial-gradient(circle at center center, rgb(93, 60, 152),rgb(10, 3, 9)); */
  /* background-image: radial-gradient(circle at top center, rgb(244, 234, 104),rgb(234, 179, 103),rgb(224, 125, 103),rgb(214, 70, 102),rgb(204, 15, 101)); */
  /* background-image: radial-gradient(circle at top right, rgb(4, 20, 62) 0%, rgb(4, 20, 62) 28%,rgb(49, 29, 62) 28%, rgb(49, 29, 62) 45%,rgb(94, 38, 62) 45%, rgb(94, 38, 62) 63%,rgb(138, 47, 62) 63%, rgb(138, 47, 62) 100%); */
  background: url(/pexels-mentatdgt-1266152.jpg) no-repeat center center fixed; 
  /* background: url(/pexels-torsten-dettlaff-70912.jpg) no-repeat center center fixed;  */
  /* background: url(/pexels-pixabay-63294.jpg) no-repeat center center fixed; */
  background-size: cover;
  
  /* filter: blur(3px);  */
 /* -webkit-filter: blur(3px);  */
align-items: center;
justify-content: center;

}

.navbar{
    display: flex;
    width: 100%;
    background-color: black;
    height: 85px;
    align-items: center;
    justify-content: center;
    
}
.nav-list {
    display: flex;
    
}
.logo {
    color: aliceblue;
    background-color:rgb(17, 120, 129);
    border: 3px solid black;
    border-radius: 50%;
    
    
}

.nav-list li{
    
    list-style: none;
    padding: 40px;
}
.nav-list li a{
    
    text-decoration: none;
    color: aliceblue;
}


.nav-list li:hover{
    font-size:larger;
    background-color: gray;
}

.container{
   
    margin-top: 100px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: white;
    border: 5px solid white;
    width: 50%;
    padding: 50px;
    text-align:center;
   font-weight: 200;
    font-size: x-large;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
    border: 10px inset #fff;
    border-top-left-radius: 70px;
    
    border-bottom-right-radius: 70px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.container div{
    padding: 8px;
    text-align: left;
    margin-left: 110px;
}
.submit{
    padding: 5px;
    width: 250px;
    border: 5px solid black;
    border-radius: 10%;
}
